@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
  background-color: rgb(229, 245, 239);
  font-family: 'Raleway', sans-serif;
}

.mainlogo {
  box-shadow: 0px 5px 5px rgba(13, 69, 77, 0.5);
  height: 250px;
  width: 500px;
  margin: 25px;
  border-radius: 25px;
}

.logo {
  box-shadow: 0px 5px 5px rgba(13, 69, 77, 0.5);
  height: 50px;
  width: 100px;
  border-radius: 15px;
}

h1 {
  text-align: center;
  padding: 10px;
}

#prevresponse {
  text-align: center;
}

#time {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 85vw;
  height: 80px;
  width: 100px;
  background-color: rgb(186, 252, 230);
  border: 2px solid rgb(243, 243, 247);
  box-shadow: 0px 5px 5px rgba(13, 69, 77, 0.5);
  border-radius: 10px;
  color: black;
  font-weight: bolder;
  font-size: xx-large
}

#prevresponse {
  margin: 10px;
  font-weight: bold;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.frontpage {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(255, 252, 252);
  border-radius: 15px;
  box-shadow: 0 25px 100px rgb(192, 190, 190);
  margin-top: 5vh;
  width: 60vw;
  height: 70vh;
  padding: 65px;
}

.invisible {
  display: none;
}

.visible {
  display: flex;
  margin-top: 5vh;
  flex-direction: column;
  border: 1px solid rgb(255, 252, 252);
  border-radius: 15px;
  box-shadow: 0 25px 100px rgb(192, 190, 190);
  height: 80vh;
  width: 60vw;
  padding: 10px;
}

button {
  cursor: pointer;
  font-weight: bold;
  border: 2px solid rgb(141, 241, 245);
  box-shadow: 0px 5px 5px rgba(13, 69, 77, 0.5);
  height: 60px;
  width: 200px;
  margin: 20px;
  border-radius: 10px;
  background-color: rgb(153, 247, 247);
}

#whos_next {
  left: 50vw;
}

#btnsubmit {
  left: 30vw;
}

button:active {
  background-color: #03d1b6;
}

button:hover,
select:hover.answerVisible {
  border: 2px solid #000333;
  transform: scale(1.05);
}

.answerInvisible {
  display: none;
}

#blankmarksheet {
  font-size: larger;
  margin: 40px;
  text-align: center;
}

#option1,
#option2,
#option3,
#option4 {
  display: flex;
  align-items: center;
  overflow-wrap: break-word;
  border: 2px solid rgb(247, 253, 253);
  box-shadow: 0px 5px 5px rgba(13, 69, 77, 0.5);
  height: 12vh;
  margin: 2px;
  padding-left: 15px;
  border-radius: 10px;
}

#answer {
  height: 12vh;
  margin: 2px;
  padding-left: 15px;
  border-radius: 10px;
}

#option1:hover,
#option2:hover,
#option3:hover,
#option4:hover {
  border: 2px solid rgb(0, 147, 167);
  cursor: pointer;
}

#option1:active,
#option2:active,
#option3:active,
#option4:active {
  border: 3px solid rgb(200, 255, 0);
}

#question {
  display: flex;
  align-items: center;
  overflow-wrap: break-word;
  padding-left: 15px;
  padding: 10px;
  border-radius: 10px;
  margin: 15px;
  height: 25vh;
  border: 2px solid rgb(252, 255, 255);
  box-shadow: 0px 5px 5px rgba(13, 69, 77, 0.5);
}

#myProgress {
  width: 93%;
  margin: 15px;
  border-radius: 10px;
  background-color: rgb(219, 248, 246);
  padding: 10px;
  border: 3px solid rgb(32, 175, 241);
}

#myBar {
  width: 1%;
  height: 30px;
  border-radius: 10px;
  background-color: #04aa12;
}

#Remarks {
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  margin: 20px;
  overflow-wrap: break-word;
}

@media only screen and (max-width: 600px) {
  .mainlogo {
    height: 150px;
    width: 300px;
    margin: 15px;
    margin-bottom: 80px;
  }

  .frontpage {
    width: 47vw;
    height: 70vh;
    padding: 70px;
  }

  .visible {
    height: 75vh;
    width: 85vw;
    padding: 15px;
  }

  #prevresponse {
    position: relative;
    top: 12vh;
  }

  #time {
    position: fixed;
    left: 71vw;
    height: 65px;
    width: 85px;
    bottom: 86vh;
  }

  #myProgress {
    margin: 0px;
  }

  h1 {
    margin: 5px;
  }
}